.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
// logo SCSS

@font-face {
  font-family: "Abuget";
  src: local("Abuget"), url("./asset/Abuget.ttf") format("truetype");
}
.logo {
  position: absolute;
  top: 30%;
  left: 36%;
  text-align: center;
  color: #eaeaea;
  z-index: 100;
}

#name {
  font-family: Abuget;
  font-size: 100px;
}
#border {
  border: 1px solid #eaeaea;
  transform: rotate(60deg);
  height: 300px;
  width: 300px;
}
.logo:hover #border {
  animation: blinking 0.6s alternate-reverse infinite;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes blinking {
  from {
    border: 1px solid #eaeaea;
    background-color: none;
  }
  to {
    border: 0px solid;
  }
}

#bordercontent {
  transform: rotate(-60deg);
  align-items: center;
  line-height: 2.5;
}
// End logo SCSS

// bokeh SCSS
/* Font */
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* Colors */
$colorCollection: (
  #cd064f,
  #da8dda,
  #411535,
  #f5f2a9,
  #3aabc9,
  #6a3944,
  #6ab598,
  #1b0822,
  #26163d,
  #d87369,
  #ebad8c,
  #be2140
);
/* $colorCollection: (
  #ff0000,
  #00d2ff,
  #00ff06,
  #f42618,
  #adfedd,
  #ff5f24,
  #fef14f,
  #fd361b,
  #30398d,
  #fee086
); */
// $colorCollection: (#FCF1BD);

/* Config */
$lights: 140; // match lights in mark up
$textColor: #eaeaea;
$totalAnimation: 6;
$lightSize: 78;
$blurLevel: 3;

/* Pretty Lights */
.bokeh {
  position: relative;

  background: linear-gradient(#0c0612, #340d37);

  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background-color: none;
  filter: blur(2px);
  // top: -50px;
  // left: -25px;
  z-index: -100;
}

.light {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
}

@for $i from 1 through $lights {
  $lightWidth: $lightSize + random(25);
  $lightHeight: $lightWidth;
  $lightVertical: random(82);
  $lightHorizontal: random(90);
  $lightBlur: $blurLevel + random($blurLevel);
  $lightDelay: 5 + random(25);
  $animation: 3 + random($totalAnimation);
  $opacity: random(
    $limit: 1
  );

  .light:nth-child(#{$i}) {
    width: $lightWidth + px;
    height: $lightHeight + px;
    top: #{$lightVertical + "%"};
    left: #{$lightHorizontal + "%"};
    background: nth($colorCollection, random(length($colorCollection)));
    filter: blur($lightBlur + px);
    animation: #{$lightDelay + s} #{"light" + $animation} linear infinite;
    opacity: $opacity * 0.01;
  }
}

@for $i from 1 through $totalAnimation {
  @keyframes light#{$i} {
    25% {
      opacity: (25 + random(50)) * 0.01;
    }
    50% {
      opacity: 0;
    }
    75% {
      opacity: (25 + random(50)) * 0.01;
    }
    100% {
      opacity: 0;
    }
  }
}
// End Bokheh SCSS
// Smoke SCSS
.smoke {
  background-image: url(./asset/smoke.png);
  background-size: cover;
  position: absolute;
  align-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  top: 0;
  bottom: 0;
  opacity: 0.2;
  filter: blur(1px);
  z-index: 50;
}
// End  Smoke Scss
//
#overBokeh {
  position: absolute;
  z-index: 100;
  color: white;
  transform-style: preserve-3d;
  top: 0;
  left: 0;
  border: 2px solid lightcoral;
  width: 100%;
  height: 100%;
}
